{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'payments/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <div id="logo">
            <a href="/payments">
                <img src="{% static "images/ptc_logo.png" %}" />
            </a>
        </div>
        <nav id="main-nav">
            <ul>
                <li><a href="/payments">Home</a></li>
                <li><a href="/payments/company">Company</a></li>
                <li><a href="/payments/about">About</a></li>
                <li><a href="/payments/blog">Blog</a></li>
                <li><a href="/payments/contact">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/payments/logout_request">Log Out {{ user }}</a></li>
                {% else %}
                    <li><a href="/payments/loginform">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div id="timed-images">

    </div>
    <hr>
    {% block content %}{% endblock content %}
    <div>
        <button>Facebook link</button>
    </div>
</body>
</html>