{% load static %}
<div id="offers-banner">
    <span>Performance Trade Coaching Offers</span>
</div>
<div id="offers">
    <div id="logo-div">
        <img id="circle-logo" src="{% static "images/circle.png" %}"/>
    </div>
    <div id="offers-content">
        <p>A path to consistent profitability with any trade method.</p>
        <p>Increased confidence to execute your trade plan with ease.</p>
        <p>A personal and supportive learning environment.</p>
        <p>A launch pad to get started in the financial markets.</p>
        <p>Solutions to real time trade issues that are holding you back from achieving independence in trading the
            financial markets.</p>
        <p>An approach to tame your mind and emotions so that you are able to make money in the markets.</p>
        <p>Guidance and encouragement to find what works specifically for you.</p>
    </div>
</div>