<div id="story-banner"></div>
<div class="story">
    <span class="header-text">THE STORY</span>
    <hr>
    <div class="content">
        <h4>"My Story is Your Story"</h4>
        <p>Through years of trading and money spent on services and systems, I came to a place where I knew the in and
            outs of my trading system but still was not profitable. It was becoming clear to me that the system was one
            part of the equation, but that I was the other part. I knew at that point that it was me that was trading
            the system and that I was the thing that needed to change in order for me to reach my dream of profitable
            trading. I would lose money and blame the system, I would move to another system and would again lose money,
            this went on for me for many years until I started to teach and coach and in doing so and hearing the same
            stories from people like me that wanted financial freedom, a nest egg, a retirement, or to get out of the
            cubicle they spent their day in that trading successfully, making consistent profit year over year is an
            inside job, it takes knowing who you are, what makes you tic, facing your fears, controlling your
            emotions-these things are not taught when you sign up for services or systems-they are things that can be
            taught, must be taught and learned over and over until you understand yourself. You have to learn to own
            your trading and your system and when you and your trade system become one and the same, profitability will
            be in your reach, goals will be met, dreams will be realized. Performance Trade Coaching is simple. It
            offers mentoring online on an hourly basis that can be used as needed. No pre loading just pay as you go and
            as you need. We can be another set of eyes, we can hold you to accountability, we can help you in any way to
            reach your dreams, we are simply here for you because that is what we needed for ourselves and took years to
            get on our own.</p>
        <p class="last-p">If my story is your story Performance Trade Coaching can help you.</p>
    </div>
</div>