<span class="header-text">TESTIMONIALS</span>
<hr>
<div class="content">
    <b>Amy</b><br>
    <p>“I’ve gone the route of having someone else manage my money and didn’t like the results. So, I just wanted to be
        more in control.” Amy</p>
    <b>What Amy has to say about working with Janet</b><br>
    <p>“I couldn’t do what I do had I not found her. So much knowledge, so much experience. I could not be where I am
        today without her. And I’m now making money”</p>
    <p class="last-p">“I’m getting more confident in seeing the results and following the method. I’m not falling into all the
        psychological traps.”</p>
</div>