<div id="how-banner"></div>
<div class="how">
    <span class="header-text">HOW WE WORK</span>
    <hr>
    <div class="content">
        <p>We work together online during, before, or after market hours, using screen share software gotomeeting.com it
            is
            free of charge to you.</p>
        <p>If you have a system that you are using and wish to become profitable or take your profitability to the next
            level, we can work with that system while we work to help you relate to system.</p>
        <p>If you do not have a system and do not know where to start, there are a lot of choices that can seem
            confusing to
            choose, we can help you choose a system that is right for you. And then we can start from the beginning to
            help
            you relate to that system. In this case, any charges for buying or using that method will be at your
            expense.</p>
        <p>If you do not have a system, I have several choices to teach you from systems I have used or am using, there
            is
            no additional charge for this, same hourly charge.</p>
        <p>Does it work for everyone?</p>
        <p>This will largely depend on the work you are willing to do. Profitable and consistency takes work, takes
            willingness to change and see things differently, flexibility.</p>
        <p>This service is for those who wish to become independent in their trading system, while you can use a trade
            service with buy and sell recommendations, you are still the person behind the trading decisions. Your
            bottom
            line of consistent profitability falls on YOU. We make no recommendations for buy and sell, we are a service
            that assists you to become the trader that you envision yourself to be.</p>
        <p>How long does it take?</p>
        <p>Learning to control your emotions, to understand and accept risk, develop an edge, and therefore become
            independent in your profitable trading of the financial markets can take time and patience. It is a process
            that
            once understood and grasped, will accelerate your ability to create a healthy environment for trading and
            your
            method will become your own, a part of you and how you do things. Sometimes it is just some simple tweaking
            and
            sometimes it can take months or years depending on where you are in the process.</p>
        <p>One thing is for sure, it is not an over night learning curve, it takes time, patience, and a burning desire
            to
            get to a place where it is what you do well.</p>
        <p class="last-p">With Performance Trade Coaching, the decisions about how much help you need is up to you. Our
            hourly fee can be
            purchased in any arrangement you would, the price per hour decreases with the amount of time you purchase.
            This
            is up to you according to how much you can afford and how much help you need.</p>
    </div>
</div>